<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/royazul"
        android:label="@string/app_name"
        android:roundIcon="@drawable/royazul"
        android:supportsRtl="true"
        android:theme="@style/Theme.ROY"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".home.Objeto"
            android:exported="false" />
        <activity
            android:name=".misobjetos.detalles"
            android:exported="false" />
        <activity
            android:name=".misobjetos.plantillaagregar"
            android:exported="false" />
        <activity
            android:name=".solicitudes.metododepago"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".login.Registro3"
            android:exported="false" />
        <activity
            android:name=".login.Registro2"
            android:exported="false" />
        <activity
            android:name=".login.Registro"
            android:exported="false" />
        <activity
            android:name=".login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>